.bgImage{
    background-image: url("https://img.freepik.com/free-photo/abstract-flowing-neon-wave-background_53876-101942.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-position: center;
    width: 500px;
    height: 300px;
    color: whitesmoke;
    padding: 20px;
    
}

.title{
    font-size: 30px;
    color: white;
}

.paragraf{
    font-size: 20px;
    color: white;
}

/* media query - Responsive design
Bu manuel yolu css kütüphaneleri ile artık daha kolay */
@media screen and (max-width:768px) {
    .title{
        font-size: 14px;
    }
    .paragraf{
        font-size: 12px;
        color: burlywood;
    }
    .bgImage{
        width: 300px;
        height: 200px;
        padding: 10px;
        color: burlywood;
    }
}