* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box {
    width: 250px;
    height: 100px;
    border: 2px solid #333;
    padding: 5px;
    margin: 30px;
    /* margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 15px; */
    background-color: lightgray;
}

.red{
    background-color: red;
    margin-left: 50px;
    padding: 20px 0;
}
.green{
    background-color: green;
    margin-bottom: 50px;
}
.blue{
    background-color: blue;
    padding: 0 20px;
}