*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    gap: 10px;
    height: 100vh;
    padding: 10px;
    background-color: lightslategray;
/*grid-area tanımlamaları buraya yapılır. Her eleman için bir grid-area ismi verilir. 
Bu isimler grid-template-areas içinde kullanılır.*/
    grid-template-areas: /*satır satır tanımlanır*/
        "header header header" /*1.satır*/
        "aside section section" /*2.satır*/
        "aside . ." /*3.satır*/ 
        "box1 box1 box1"; /*4.satır*/
        /* Eğer herhangi bir bölüme grid-area ismi verilmezse . lı olan boşta bulduğu yerlere gider.
        Örneğimizde boz-2 ve 3 e grid area ismi vermedik dolayısıyla onlar 3.ssatırdaki . lı boşluklara yerleştiler.*/
        
        
}

header{
    background-color: coral;
    grid-area: header; 
}

section{
    background-color: lightseagreen;
    grid-area: section;
}

aside{
    background-color: lightblue;
    grid-area: aside;
}

.box-1{
    background-color: lightpink;
    grid-area: box1;
}