@import "_bt_override.scss"; // variable ları ezeceğimiz yapı _bt_override olduğu için önce bunu import ediyoruz.
@import "../node_modules/bootstrap/scss/bootstrap.scss"; // bootstrap in kendisini import ettik
@import "custom.scss"
