// Değişkenler, mixinler (fonksiyon tanımlama) ve extend (miras alma) kullanarak SCSS ile stil tanımlamayabiliyoruz.

$bgColor: lightgray;
$x150: 600px;
$x100: 200px;

@mixin boxMixin($width, $height, $color) { /*mixin ile fonksiyon tanımlıyoruz*/
  width: $width;
  height: $height;
  background-color: $color;
  margin: 10px;
}

.container {
  background-color: $bgColor;
  width: $x150;
  height: $x100;
  display: flex;
  &:hover { /*scss de extradan hover için bir şey açmıyoruz container ın içindeyken hover gibi özelliklere ulaşabiliyoruz*/
    background-color: blue;
  }

  .box1 {
    @include boxMixin(50px, 50px, yellow); /*mixin i çağırıyoruz*/
    &:hover {
      background-color: orange;
    }
  }
  .box2 {
    @include boxMixin(70px, 70px, green); /*mixin i çağırıyoruz*/
  }
  .box3{
    @extend .box1; /*extend ile box1 nin tüm özelliklerini alıyoruz*/
    width: 100px; /*sadece genişliğini değiştiriyoruz*/
    
  }
  .box4{
    @include boxMixin(150px, 100px, pink);
    &.deneme{ /*box4 e deneme class ı eklenirse*/
        border-radius: 50%;
        background-color: purple;
        text-align: center;
        color: white;
    }
  }
}