/* Pseudo Class Styles 
   : ile verilir */
.link{
    color: purple;
    text-decoration: none; /*linklerde alt çizgiyi kaldırır */
}
.link:hover{
    color: orange;
    text-decoration: underline; /*linklere alt çizgi ekler */
}
.link:visited{
    color: green;
}
.link:active{   /* Basılı tutulurken anda renk değişir */
    color: red;
}

.list_item{
    color: cadetblue;
}

.list_item:first-child{ /* listedeki ilk elemanı seçer */
    color: brown; 
}
.list_item:last-child{  /* listedeki son elemanı seçer */
    color: darkorange;
    font-style: italic;
}
.list_item:nth-child(2){ /* listedeki 2. elemanı seçer */
    color: darkcyan;
    font-weight: bold;
}
.list_item:nth-child(odd){ /* listedeki tek numaralı elemanları seçer even da çift */
    background-color: lightgray;
}


/* Pseudo Element Styles 
    :: ile verilir */

p::first-letter{ /* paragrafın ilk harfini seçer */
    font-size: 200%;
    color: teal;
}

.text::first-line{ /* paragrafın ilk satırını seçer */
    font-weight: bold;
    text-transform: uppercase;
}
.text::selection{ /* seçilen metnin stilini değiştirir */
    background-color: yellow;
    color: black;
}
.text::after{ /* paragrafın sonuna içerik ekler */
    content: " [ after ile Devamını okuyun...]";
    color: blue;
    font-weight: bold;
    cursor: pointer;
}
.text::before{ /* paragrafın başına içerik ekler */
    content: "[ before ile Başlangıç ] ";
    color: blue;
    font-weight: bold;
}