.list-item {
        font-size: 18px;
        color: green;
        margin-bottom: 10px;
    }
    #paragraf1 {
        font-size: 16px;
        color: gray;
        font-weight: bold;
    } 
    #menu {
        background-color: lightblue;
        padding: 15px;
        width: 200px;
        text-align: center;
        /* border: 2px solid blue; */
    }
/* padding border içi boşluk bırakma
   margin border dışında boşluk bırakma   */